{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAML_POST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'saml_post/css/saml_post.css' %}">
</head>
<body>
<div class="content">
<h1> SAML Profiles </h1>

<h2> Choose a SAML Profile to Load:</h2>

<table id="profileTable" class="content">
    <tr class="header">
        <th>SAML Profile Name</th>
        <th>Issuer ID</th>
        <th>Audience Entity ID</th>
        <th>Assertion Consumer Service</th>
    </tr>
    {% for profile in saml_profiles %}
    <tr class="profileRecord">
        <td style="display:none"> {% url 'saml_post:SamlPostView' profile.name %} </td>
        <td style="display:none">{{ profile.id }}</td>
        <td>{{ profile.name }}</td>
        <td>{{ profile.issuer_id }}</td>
        <td>{{ profile.audience_id }}</td>
        <td>{{ acs_endpoint }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<input type="button" id="tst" value="Load Selected Profile" onclick="loadProfile()" />



<br>
<br>
<h2> Or create a new SAML Profile:</h2>
<button onclick="location.href='{% url 'saml_post:SamlPostView' %}'" type="button">Create a New Profile</button>
</div>
<script src="{% static 'saml_post/js/saml_post.js' %}"></script>
</body>
</html>